#home_link {
    background-color: #cbcbcb;
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

#home_link i {
    text-decoration: none;
    text-align: center;
    color: #312f91;
    font-size: 40px;
}

#content_1 p {
    text-align: center;
    padding: 20px;
    color: #636363;
    font-weight: 400;
}

#content_1 h4 {
    text-align: center;
    font-weight: 490;
    color: #3d5a83;
}

#content11 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#content13 {
    border: 1.2px solid #dedede;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding: 1%;
}

#content13 h6 {
    text-decoration: none;
    color: rgb(140, 179, 245);
}


@media (max-width: 500px) {
    #content13 h6 {
        font-size: 0.8rem;
    }
}

#content22 h4 {
    text-align: center;
    color: #3d5a83;
    padding: 15px;
}