#home_link {
    background-color: #cbcbcb;
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
	z-index: 1;
}

#home_link i {
    text-decoration: none;
    text-align: center;
    color: #312f91;
    font-size: 40px;
}

#content3 h4 {
	color: #206b84;
	font-size: 2rem;
	text-align: center;
	padding: 20px;
	font-weight: 450;
}

#content3 h5 {
	font-size: 1.5rem;
	font-weight: 450;
	text-align: center;
}

#content3 h6 {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 10px;
}

#content3 p {
	text-align: center;
}

#content3 h3 {
	background-color: #ADD8E6;
	color: #206b84;
	padding: 10px;
	text-align: center;
	font-weight: 450;
}

.logo{
    text-align: center;
}

/* form css */

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formSection {
	padding: 20px;
	border: 1px solid hsl(0, 0%, 87%);
	border-radius: 10px;
	margin-bottom: 20px;
}

#content1 {
	margin-top: 25px;
}

.block {
	background-color: white;
	border-radius: 20px;
}

.innerBlock {
	margin: 0 80px 0 80px;
	padding: 20px 0 0 0;
}

.heading {
	font-size: 1.4rem;
	font-family: inherit;
	font-weight: 600;
	color: #206b84;
}

#submit {
	border-radius: 100px;
}

@media (max-width: 430px) {
	.innerBlock {
		margin: 0 20px 0 20px;
	}
}

@media (max-width: 991px) {
	.innerBlock {
		margin: 0 20px 0 20px;
	}
}