.footer {
	/* background-image: linear-gradient(180deg, #F2AF29 0%, #F1D82496 100%); */
	background-color: aliceblue;
}

.footer #h_logo {
	max-width: 150px;
	display: block;
	margin: auto;
}

.footer h6 {
	color: orangered;
	text-decoration: underline;
}

.footer li {
	list-style-type: none;
}

.footer li a {
	text-decoration: none;
	color: #312f91;
	font-weight: 500;
	font-size: 14px;
}

.footer li:hover a {
	color: orangered;
}


/* Social Icon CSS <start>*/
.social-icons {
	display: flex;
	height: 70px;
	width: 270px;
}

.social-icons i {
	font-size: 30px;
	opacity: 1;
	transition: opacity 0.25s;
	cursor: pointer;
}

.social-icons .social-link1,
.social-icons .social-link2,
.social-icons .social-link3,
.social-icons .social-link4 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	color: black;
	font-size: 24px;
	text-decoration: none;
	transition: 0.25s;
	border-radius: 50px;
}

.social-icons .social-link1{
	color: #5865f2;
}

.social-icons .social-link2{
	color: #00ccff;
}

.social-icons .social-link3{
	color: red;
}

.social-icons .social-link4{
	color: #2bbd23;
}

.social-icons .social-link1:hover {
	background-color: #5865f2;
	color: white;
	animation: bounce_613 0.4s linear;
}

.social-icons .social-link2:hover {
	background-color: #00ccff;
	color: white;
	animation: bounce_613 0.4s linear;
}

.social-icons .social-link3:hover {
	background-color: red;
	color: white;
	animation: bounce_613 0.4s linear;
}

.social-icons .social-link4:hover {
	background-color: #2bbd23;
	color: white;
	animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
	40% {
		transform: scale(1.4);
	}

	60% {
		transform: scale(0.8);
	}

	80% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
/* Social Icon CSS <end>*/