.block {
    background-color: white;
    border-radius: 20px;
    border: 0.5px solid hsl(0, 0%, 93%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.profile-block{
	position: sticky;
	top: 10px;
}

.profile {
    position: sticky;
    top: 10px;
    padding: 5px;
    text-align: center;
}

#content5{
    text-align: center;
}

/* cards css  */

.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* background-color: rgb(242, 242, 242); */
}

.card{
	width: 180px;
	background-color: #ffffff;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	margin: 20px;
}

.card img{
	width: 100%;
	height: auto;
    text-align: center;
}

.card-content{
	padding: 5px;
	margin-left: 10px;
}

.card-content h6{
	color: #3d5a80;
	text-align: center;
}

section{
    overflow-x: auto;
    border-radius: 10px;
}

thead{
    background-color: #388ca8;
    color: white;
}


tbody th, td{
    vertical-align: middle;
}

.card-content .btn {
	display: inline-block;
	padding: 8px 16px;
	background-color: #fff;
	border-color: #083d71;
	text-decoration: none;
    text-align: center;
	border-radius: 4px;
	/* margin-top: 5px; */
	color: #083d71;
	font-size: 0.8rem;
}

#donor-btn{
	background-color: #388ca8;
	border-color: #388ca8;
}

#donor-btn:hover{
	background-color: #98c1d9;
}


.card-ex{
	width: 300px;
	background-color: #ffffff;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	margin: 20px;
}

.card-ex img{
	width: 100%;
	height: auto;
	max-height: 300px;
    text-align: center;
}