
#content_1 h4{
    text-align: center;
    color: #ee6c4d;
    padding: 20px;
    font-size: 2rem;
}

#content_2{
    background-color: #eeeeef;
}

#nav h6{
    text-align: center;
    padding: 5px;
}

#left{
    position: sticky;
    padding: 20px;
    text-align: center;
}

#left h3{
    color: #206b84;
}

#left b{
    color: #206b84;
    font-size: 6rem;
    font-family: cursive;
}

#left p{
    color: #70b0d1;
    font-size: 3rem;
    font-family: cursive;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSection{
    padding: 20px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

/* For left part */

.col-md-5 {
    display: flex;
    align-items: center;
}

/* For right part */

#content1{
 margin-top: 25px;
}

.block {
    background-color: #f7f7f7;
    border-radius: 20px;
}

.formBlock {
    margin-top: 20px;
}

.innerBlock {
    margin: 0 40px 0 40px;
    padding: 20px 0 0 0;
}

.heading {
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 600;
    color: #ee6c4d;
}

#submit {
    border-radius: 100px;
}

@media (max-width: 430px) {
    .innerBlock {
        margin: 0 20px 0 20px;
    }
}

@media (min-width: 200px) {
    .innerBlock {
        margin: 0 2px 0 2px;
    }
}

@media (max-width: 992px) {
    #left {
        display: none;
    }
}